body {

  .topnav {
    overflow: hidden;
    background-color: #E3DAC9;
  }

  .topnav a {
    float: left;
    color: #F7E7CE
    text-align: centre;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #FAEBD7;
  }

  .topnav a.active {
    background-color: #F3E5AB;
  }

}
